*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: white;
  font-family: 'Dosis',sans-serif;
}

h1{
  font-size: 64px;
}

h2{
  font-size: 50px;
}

h3{
  font-size: 32px;
  font-weight: 400;
}

h4{
  font-size: 24px;
  font-weight: 400;
}

p{
  font-size:24px;
}

.centralizador{
  width: 100%;
  max-width: 1100px;
  margin:0 auto;
}

.ajustador1{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.secao1 .ajustador2{
  justify-content: space-between;
}

.ajustador2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}

header,footer{
  background-color: var(--saturação-principal);
  height: 100px;
}

main{
  background: url(/assets/imgs/Fundo\ 1\ \(1\).svg);
}

.secao1, .secao2, .secao3, .secao4{
  width: 100%;
}

