@media screen and (max-width: 1150px){
  /* GERAL */
  .centralizador{
    max-width: 700px;
  }

  .ajustador2{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  /* SEÇÃO 1 */
  .secao1-texto{
    width:100%;
    order: 2;
  }

  .secao1-imagem{
    width: 100%;
  }

  /* SEÇÃO 4 */

  .projetos_boxes{
    grid-template-columns: auto auto;
  } 
}

@media screen and (max-width: 766px){
  /* CABEÇALHO */


  .menu label{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:50px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    cursor:pointer;
  }
  .menu label:hover{
    background-color: #c7f3ff;
  }
  .menu label div{
    position: absolute;
    width: 35px;
    height:6px;
    border-radius: 3px;
    background-color: #26979F;
    transition: 0.5s ease-out;  
  }

  .menu label div:nth-child(1){
    translate: 0 -12px;
  
  }
  .menu label div:nth-child(3){
    translate: 0 12px;
  }

  #input_menu_responsivo:checked + label div{
    translate: 0 0;
    background-color:#b44747
  } 

  #input_menu_responsivo:checked + label div:nth-child(1){
    transform: rotate(45deg);
    transition: 0.5s ease-out;
  }

  #input_menu_responsivo:checked + label div:nth-child(2){
    transform: rotate(45deg);
    transition: .5s ease-out;
  }

  #input_menu_responsivo:checked + label div:nth-child(3){
    transform: rotate(-45deg);
    transition: 0.5s ease-out;
  }

  .menu-itens{
    display: none;
  }

  .menu_ativo{
    position: absolute;
    top:100px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    z-index:10;
    background-color: #26979F;
    transition: 1s;
  }

  .menu_ativo a{
    display: block;
    font-size: 28px;
    padding: 30px;
  }

  .menu_ativo a:hover{
    background-color: #3EAEB6;
  }
  /* GERAL */
  .centralizador{
    max-width: 400px;
  }

  .secao1-imagem{
    width: 70%;
    display:flex;
    justify-content: center;
  }
  .secao1-imagem .image{
    max-width: 350px;
    height: 350px;
    background-size: 100%;
  }
  /* CABEÇALHO*/
  
  .circle{
    width:70px;
    height:70px;
  }

  .circle p{
    font-size: 26px;
    letter-spacing: -0.9em;
  }
  
  /* SEÇÃO 4 */

  .projetos_boxes{
    grid-template-columns: auto;
  } 

  .bnt_ver_mais .bnt_area{
    width: 125px;
    height: 40px;
  }

  /* RODAPÉ */
  .rodape .ajustador1{
    flex-direction:column;
    justify-content: center;
    gap:10px;
  }

  .rodape{
    height: 150px;
  }

  .rodape_icons{
    width:100%;
    justify-content: center;
  }
  .rodape_texto{
    text-align: center;
  }

 /* RODAPÉ ICONES */

 .linkedin{
    width: 50px;
    height: 50px;
  }

  .linkedin p{
    font-size: 30px;
    transition: 0.2s ease-in;
  }

  .github{
    width: 50px;
    height: 50px;
    background: url(/assets/imgs/Github-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    transition: 0.2s ease-in;
  }

  .github:hover{
    background-size: 60%;

  }
}