.boxes{
  display:flex;
  margin-top: 32px;
}

.box-single{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33.33%;
  padding: 16px;
  background-color: white;
  border: 2px solid #cecece;
  border-radius: 30px;
}

.box-single img{
  cursor: pointer;
  max-width:150px;
  margin: 0 auto;
}

.box-single h2{
  font-size: clamp(30px,3vw,38px);
}

.box-single h2, .box-single h3{
  margin-top: 16px;
  color:#26979F;
} 

