.sobre-mim{
  text-align:center;
  /* color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 45px; */
}

.sobre-mim h3{
  margin-top: 32px;
  /* font-weight: 400;
  font-size: 36px; */
}
/*_padronizar_*/